html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f0f0f0;


}

body h1 {
    text-align: center;
    margin: 20px 0;
    background-color: gray;
    width: 100%;
    padding: 20px 0;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p {
    margin: 0;
    text-transform: uppercase;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

#metrics-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;

}

#metrics-container .metric {
    border: 1px solid #000;
    padding: 10px;
    border-radius: 5px;
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}


#users-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

#users-container .user {
    border: 1px solid #000;
    padding: 10px;
    border-radius: 5px;
    max-width: 300px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.filter-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.filter-container select,
.filter-container button {
    cursor: pointer;
}

.views-generator {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}

button.view-button,
a.view-button {
    all: unset;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(104, 164, 233);
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    text-transform: uppercase;

    &:hover {
        background-color: rgb(97, 135, 179);
        color: white;
    }
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    gap: 5px;
}